html {
  font-family: "Noto Serif", serif;
}

header {
  background-color: #70ad55;
  color: #fff;
}

footer {
  background-color: #70ad55;
  color: #fff;
}

.btn {
  background-color: #6e8c62;
  color: #fff;
  border: none;
}

.green {
  color: #70ad55;
}

.textbox {
  height: 10em;
}

fieldset {
  border-top: none;
}

hr {
  border-color: rgba(112, 173, 85, .3);
}
